.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 10, 20, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
}